<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Hello Vue</title>
        <!-- vue CDN에 연결 -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.2.x/dist/vuetify.min.css" rel="stylesheet" />
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-app-bar app color="primary" dark>
                    <!-- 메뉴 아이콘을 누르면 클릭 기능 비활성화 -->
                    <v-app-bar-nav-icon @click.stop="bDrawer = !bDrawer"></v-app-bar-nav-icon>
                    <v-toolbar-title>Header</v-toolbar-title>
                </v-app-bar>
                <!-- bDrawer가 true이면 탐색 서랍을 사용하도록 바인딩 -->
                <v-navigation-drawer absolute temporary v-model="bDrawer">
                    <v-toolbar flat height="70px">
                        <v-list>
                            <v-list-item>
                                <v-list-item-avatar>
                                    <img src="https://randomuser.me/api/portraits/men/44.jpg" />
                                </v-list-item-avatar>
                                <v-list-item-content>
                                    <v-list-item-title class="title"> 홍길동 </v-list-item-title>
                                    <v-list-item-subtitle>로그인</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    </v-toolbar>
                    <v-divider></v-divider>
                    <v-list class="pt-3">
                        <v-list-item v-for="item in aMenu_items" :key="item.title" :href="item.link">
                            <v-list-item-action>
                                <v-icon>{{item.icon}}</v-icon>
                            </v-list-item-action>
                            <v-list-item-content>
                                <v-list-item-title>{{item.title}}</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-navigation-drawer>
                <v-content> </v-content>
                <v-footer> </v-footer>
            </v-app>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <!-- 뷰티파이 CDN -->
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.2.x/dist/vuetify.js"></script>
        <script>
            //  Vue 객체를 생성해 앱을 초기화하고 시작
            new Vue({
                // id 선택자인 main의 div 엘리먼트와 앱을 연결해서 구동
                el: "#app",
                vuetify: new Vuetify(),
                data: {
                    bDrawer: false,
                    aMenu_items: [
                        {
                            title: "스타벅스",
                            icon: "fa-coffee",
                            link: "https://www.starbucks.co.kr/index.do",
                        },
                        {
                            title: "애플",
                            icon: "mdi-apple",
                            link: "http://www.apple.com",
                        },
                        {
                            title: "페이스북",
                            icon: "mdi-facebook-box",
                            link: "http://www.facebook.com",
                        },
                    ],
                },
            });
        </script>
    </body>
</html>
